html, body, #root {
  height: 100%;
  margin: 0;
  background-color: white;
}

.main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.artist-name {
  font-size: 0.9rem;
}
.song-title{
  font-size: 1rem;
  font-weight: 600;
}

@media (min-width: 768px){
  
}