.right-side-mediaplayer {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.full-cover-img {
    max-width: 100%;
    height: auto;
    align-self: center;
    margin: 0px;
    padding: 0px;
    display: block;
}
.player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(196, 196, 196);
    gap:0.5rem;
}
.player-top-section,
.player-middle-section,
.player-bottom-section {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(196, 196, 196);
}
.player-top-section {
    justify-content: space-between;
}
.album-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.album-info p {
    margin: 2px;
}

@media (max-width: 768px){
.right-side-mediaplayer {
    width: 100%;
}
.player {
    display: flex;
    flex-direction: column;
}
.player-bottom-section .playerBtn{
    font-size: 3rem;
}
}