.leftside-media-list {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(196, 196, 196);
}
.media-element {
    display: flex;
    flex-direction: row;
    margin: 5px;
    border-bottom: 1px solid rgb(196, 196, 196);
    padding: 5px;
}
.media-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 75%;
    height: auto;
    gap: 0.5rem;
}
.media-info p {
    margin: 0px;
}
.img-small{
    width: 4rem;
    height: auto;
}
.playBtn{
    margin: 10px;
}
@media (max-width: 768px){
.leftside-media-list {
    width: 100%;
}
.media-info p {
    font-size: 2rem;
}
.playBtn{
    font-size: 4rem;
}
.img-small{
    display: none;
}
}